<div class="area">

    <div *ngIf="IsAuthenticated();else other_content">
        <div> Hello {{userName}}</div>
        <a (click)="logOut()">Log out</a>
    </div>
    <ng-template #other_content>
        <a routerLink="/register">Register</a>
        <br>
        <a routerLink="/login">Login</a>
       </ng-template>
</div>