<div class="worklog-block">

    <div class="title-area">
        <div class="navigation-area">
            <div class="projects">
                <a routerLink="/managerProjects" routerLinkActive="active">/Projects</a>
            </div>
            <div class="project-name">
                <a routerLink="/managerProjects/objective/{{worklLogsWithDetails!.project!.id }}"
                    routerLinkActive="active">/{{worklLogsWithDetails!.project!.name}}</a>
                <h4></h4>
            </div>
        </div>
    </div>

    <div class="body-area">
        <div class="left-area">

            <div class="objective-info-name">
                <h2> {{worklLogsWithDetails!.objective!.name}}</h2>
            </div>
            <div class="logs-info">
                <div class="obj-description">
                    <div class="title">Description</div>
                    <div class="text"> {{worklLogsWithDetails!.objective!.description}}</div>
                </div>
                <div class="row" *ngFor="let log of worklLogsWithDetails!.workLogs">
                    <div class="log"> logged <strong>{{log.durationInString}} </strong></div>
                    <div class="description"> {{log.description}} </div>
                </div>
            </div>
        </div>

        <div class="right-area">
            <div class="assigned-label"> Assignee: </div>

            <div class="assigned-data" *ngIf="!IsDeveloperAssigned();else other_content">

                <form class="assign-developer-form" [formGroup]="assignDeveloperForm"
                    (ngSubmit)="onAssignDeveloperSubmit(assignDeveloperForm)">
                    <div class="input-area-assigner">
                        <select class="input-assigner" formControlName="assignerId">
                            <option value="">Unassigned</option>
                            <option *ngFor="let assigner of assigners" [ngValue]="assigner.id">{{assigner.name}}
                            </option>
                        </select>
                    </div>
                    <div class="input-area-submit">
                        <button type="submit" [disabled]="assignDeveloperForm.value.assignerId==''"
                            class="submit">Assign</button>
                    </div>
                </form>

            </div>
            <ng-template #other_content>
                <div>{{worklLogsWithDetails!.objective!.userName}} </div>
            </ng-template>


            <div class="original-estimate-label"> Original estimate:</div>
            <div class="original-estimate-data"> {{worklLogsWithDetails!.objective!.durationInString}} </div>

            <div class="time-tracking-label"> Time tracking:</div>
            <div class="time-tracking-data"> {{worklLogsWithDetails!.durationInString}} </div>

            <div class="current-status-label"> Status:</div>
            <div class="current-status-data"> {{worklLogsWithDetails!.objective!.status.name}} </div>

            <div class="new-status-label" [style.visibility]="CanChangeStatus() ? 'visible':'hidden'"> new status
            </div>

            <form class="status-form" [style.visibility]="CanChangeStatus() ? 'visible':'hidden'"
                [formGroup]="statusForm" (ngSubmit)="onStatusSubmit(statusForm)">

                <select class="input-status" formControlName="statusId">
                    <option *ngFor="let status of this.statuses" [ngValue]="status.id">{{status.name}}</option>
                </select>
                <br>
                <button class="submit"> Change status </button>
            </form>

        </div>
    </div>
</div>