<div class="project-block">

    <div class="title-area">
        <div class="name" > <h3>Projects</h3> </div>
        <div class="create"  (click)="onCreateProject()" > <p>Create project</p></div> 
    </div>
    <div class="title-sort-area">
        <div class="name" > Name </div>
        <div class="lead">Lead </div>
        <div class="readiness">Readiness </div>
    </div>
    <ul class="elements-area">
        <li class="row" *ngFor="let project of projects" (click)="onSelectProject(project.id)">
            <div class="name"> {{project.name}} </div>
            <div class="userName"> {{project.userName}} </div>
            <div class="readiness"> {{(project.readiness*100).toFixed(2) + "%"}} </div>
            <div class="for-edit"> ... </div>
        </li>
    </ul>
</div>

