
<div class="image-wrapper">
    <img class="image" src="assets/images/cronometru_s.jpg" alt="gate">
  </div>
  

<form class="project-create-form content" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <h2 class="project-create-heading">Fill the work log</h2>
    <div class="input-area">

        <div class="input-area-estimate">
            <div class="error-msg" *ngIf="myForm.get('hours')?.invalid && (myForm.get('hours')?.dirty || myForm.get('hours')?.touched) ||
                myForm.get('minutes')?.invalid && (myForm.get('minutes')?.dirty || myForm.get('minutes')?.touched)
                ">
                The value must be positive number
            </div>
            <label class="label-name">Estimated time:</label>
            <label class="label-name-hours">Hours</label>
            <input type="number" formControlName="hours" class="input-name-hours" required autofocus>


            <label class="label-name-minutes">Minutes</label>
            <input type="number" formControlName="minutes" class="input-name-minutes" required autofocus>
        </div>

        <div class="input-area-description">
            <div class="error-msg"
                *ngIf="myForm.get('description')?.invalid && (myForm.get('description')?.dirty || myForm.get('description')?.touched)">
                The description is to short
            </div>
            <label class="label-description">Description</label>
                   <textarea class="input-description" formControlName="description"
            placeholder="Enter description"> </textarea>
        </div>

        <div class="input-area-submit">
            <button type="submit" [disabled]="myForm.invalid" class="submit">Create</button>
            <button class="cancel" (click)="onCancel()">Cancel</button>
        </div>

        <div class="error-area">
            <ul *ngFor="let f of errors;">
                <li> {{f}}</li>
            </ul>
        </div>
    </div>
</form>
