
<form class="project-create-form content" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <h2 class="project-create-heading">Add project details</h2>
    <div class="input-area">

        <div class="input-area-name">
            <div class="error-msg"
                *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)">
                The  name is to short
            </div>
            <label class="label-name">Name</label>
            <input type="text" formControlName="name" class="input-name" required autofocus>
            <br />
        </div>

        <div class="input-area-description">
            <div class="error-msg"
                *ngIf="myForm.get('description')?.invalid && (myForm.get('description')?.dirty || myForm.get('description')?.touched)">
                The description is to short
            </div>
            <label class="label-description">Description</label>
                   <textarea class="input-description" formControlName="description"
            placeholder="Enter description"> </textarea>
        </div>

        <div class="input-area-submit">
            <button type="submit" [disabled]="myForm.invalid" class="submit">Create</button>
            <button class="cancel" (click)="onCancel()">Cancel</button>
        </div>

        <div class="error-area">
            <ul *ngFor="let f of errors;">
                <li> {{f}}</li>
            </ul>
        </div>
    </div>
</form>