.image-wrapper {
    height: 35vw;
    text-align: center;
}

.image-wrapper .image {
    height: 100%;
    padding-left: 1vw;
}

.content {
    position: relative;
    z-index: 1;
    padding: 10px;
    top: -65%;
}

.project-create-form {
    border: 0.1vw solid black;
    border-radius: 0.1vw;
    width: 50vw;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(181, 224, 241, 0.95);
}

.project-creates-heading {
    margin-left: 4vw;
    line-height: 0;
}
.input-area {
    display: grid;
    grid-template-columns: 2vw 27vw 20vw;
    grid-template-rows: 3.5vw 12.5vw 3vw;
}

.input-area-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 5vw 9vw;
    grid-template-rows: 1.5vw 2vw;
    place-items: center;
    justify-items: start;
}
.input-area-name .label-name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.input-area-name .input-name {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 8vw;
}

.input-area-description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 6vw 20vw;
    grid-template-rows: 1.5vw 10vw;
}

.input-area-description .label-description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.input-area-description .input-description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.error-msg {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    color: #de2b24;
}
.input-area-submit {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 23vw 5vw;
    place-items: center;
     justify-items: start; 
   
}
.input-area-submit .submit {
    grid-column: 1 / 2;
}
.input-area-submit .cancel {
    grid-column: 2 / 3;
}
.error-area {
    grid-column: 3 / 4;
    color: #de2b24;
}
