.filter-area {
    align-items: center;
    display: grid;
    grid-template-columns: 2vw 8vw 4vw 45vw;
    height: 1.5vw;
    margin-top: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.name-field {
    height: 1.5vw;
    grid-column: 2 / 3;
}
.submit {
    margin-left: 1vw;
    height: 1.5vw;
    width: 3.5vw;
    grid-column: 3 / 4;
}

.title-sort-area {
    align-items: center;
    display: grid;
    grid-template-columns: 2vw 10vw 15vw 25vw 5vw;
    height: 1.5vw;
    margin-top: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.title-sort-area .name {
    grid-column: 2 / 3;
}
.title-sort-area .email {
    grid-column: 3 / 4;
}
