
    <form class="filter-area" [formGroup]="searchFilter" (ngSubmit)="onSubmit(searchFilter)">
        <input class="name-field" formControlName="name" placeholder="by name">
        <button class="submit" type="submit">Search</button>
    </form>


<div class="title-sort-area">
    <div class="name" (click)="onNameClick()"> Name <a [innerHTML]="nameArrow.value"></a></div>
    <div class="email"> Email </div>
</div>
