.objective-block {
   padding: 1vw 10vw;
}
.objective-block .title-area {
   align-items: center;
   display: grid;
   grid-template-columns: 2vw 20vw 35vw 8vw 2vw;
   height: 2vw;
   margin-bottom: 2vw;
}
.objective-block .title-area .navigation-area {
   grid-column: 2 / 3;
}
.objective-block .title-area .navigation-area .projects {
   float: left;
}
.objective-block .title-area .navigation-area .projects a:hover {
   color: #cc8500;
}
.objective-block .title-area .navigation-area .project-name a:hover {
   color: #cc8500;
}
.objective-block .title-area .create {
   background-color: #0052cc;
   color: white;
   grid-column: 4 / 5;
   text-align: center;
   line-height: 0;
   border-radius: 0.3vw;
}

.objective-block .title-area .create:hover {
   background-color: #0065ff;
   border-radius: 0.3vw;
}

.objective-block .title-sort-area {
   align-items: center;
   display: grid;
   grid-template-columns: 2vw 25vw 10vw 10vw 15vw 5vw;
   height: 2vw;
   margin-right: 2vw;
   margin-left: 2vw;
}
.objective-block .title-sort-area .name {
   grid-column: 2 / 3;
}
.objective-block .title-sort-area .assigned {
   grid-column: 3 / 4;
}
.objective-block .title-sort-area .status {
   grid-column: 4 / 5;
}
.objective-block .title-sort-area .estimates {
   grid-column: 5 / 6;
}
.objective-block .elements-area {
   border-bottom: 0.2vw solid #dfe1e6;
   border-top: 0.2vw solid #dfe1e6;
   padding: 0;
   margin-right: 2vw;
   margin-left: 2vw;
   padding-top: 0.6vw;
   padding-bottom: 0.6vw;
}

.objective-block .elements-area .row {
   align-items: center;
   display: grid;
   /* grid-template-columns: 2vw 20vw 15vw 10vw 5vw 5vw; */
   grid-template-columns: 2vw 25vw 10vw 10vw 15vw 5vw 2vw;
   height: 2vw;
}
.objective-block .elements-area .row:hover {
   background-color: rgb(247, 245, 245);
}

.objective-block .elements-area .row .name {
   color: #0052cf;
   grid-column: 2 / 3;
}
.objective-block .elements-area .row .assigned {
   grid-column: 3 / 4;
}
.objective-block .elements-area .row .status {
   grid-column: 4 / 5;
   font-size: 0.8vw;
   font-weight:500;
   width: fit-content;
   padding: 0.4vw;
   border-radius: 0.2vw;
}
.objective-block .elements-area .row .estimates {
   grid-column: 5 / 6;
  
}
.objective-block .elements-area .row .for-edit {
   grid-column: 6 / 7;
   font-weight: bold;
   color: rgb(66, 66, 66);
   font-size: 2vw;
   line-height: 0;
   text-align: center;
   padding-bottom: 0.5vw;
   padding-top: 0.5vw;
   height: 1vw;
}
.objective-block .elements-area .row .for-edit:hover {
   background-color: #ccc;
   border-radius: 0.3vw;
}
