<div class="objective-block">

    <div class="title-area">
    <div class="navigation-area">
        <div class="projects">
            <a routerLink="/managerProjects" routerLinkActive="active">/Projects</a>
        </div>
        <div class="project-name">
            <a routerLink="/managerProjects" routerLinkActive="active">/{{projectName}}</a>
            <h4></h4>
        </div>
    </div>
    <div class="create" (click)="onCreateObjective()">
        <p>Create task</p>
    </div>
</div>

<div class="title-sort-area">
    <div class="name"> Summary </div>
    <div class="assigned">Assigned </div>
    <div class="status">Status </div>
    <div class="estimates">Original estimated </div>
</div>
<ul class="elements-area">
    <li class="row" *ngFor="let objective of objectives" (click)="onSelectObjectives(objective.id)">
        <div class="name"> {{objective.name}} </div>
        <div class="assigned"> {{objective.userName}} </div>
        <div class="status" [style.color]=statusColor[objective.status.id-1]
        [style.background-color]=statusBgColor[objective.status.id-1] > {{objective.status.name}} </div>     
        <div class="estimates" > {{objective.durationInString}} </div>
        <div class="for-edit"> ... </div>
    </li>
</ul>
</div>