<div class="main">
    <div class="roles-menu">
        <h3>
            User roles
        </h3>
        <ul class="items">
            <li [class.selected]="isSelected('')" (click)="onRoleSelect('')">
                All users
            </li>
            <li *ngFor="let role of roles" [class.selected]="isSelected(role.id)" (click)="onRoleSelect(role.id)">
                {{role.name}}
            </li>
        </ul>
    </div>

    <div class="user-block">
        <user-sort-filter-form  (SortFilterDataToSend) ="OnGetDataforSortFilter($event)"></user-sort-filter-form>
        <ul class="elements-area">
            <li class="row" *ngFor="let user of users" (click)="onSelectUser(user.id)">
                <div class="name"> {{user.name}} </div>
                <div class="email"> {{user.email}} </div>
                <div class="for-edit"> ... </div>
            </li>
        </ul>
    </div>
    <paganing  class="paganing-block"  [pageInfo]="pageInfo" (PageChanged) ="OnPageChanged($event)"></paganing>
</div>