.main {
    display: grid;
    grid-template-columns: 20vw 68vw;
   
}
.main .roles-menu {
    grid-column: 1 / 2;
    border-right: 0.2vw solid #dfe1e6;
   
}
.main .roles-menu h3 {
    margin-left: 4vw;
}

.main .user-block {
    grid-column: 2 / 3;
    height: 32vw;
}

.main .paganing-block
{
    grid-column: 2 / 3;
}

.roles-menu .items li {
    background-color: #ededed;
    color: #878789;
    margin: 0.5vw 1vw;
    padding: 0.2vw 0.5vw;
    width: 7vw;
    border-radius: 0.3vw;
    list-style-type: none;
}
.roles-menu .items li.selected {
    background-color: #666;
    color: White;
}

.roles-menu .items li:hover {
    background-color: #ccc;
}

.roles-menu .items li.selected:hover {
    background-color: #666;
}

.main .user-block .elements-area {
    border-bottom: 0.2vw solid #dfe1e6;
    border-top: 0.2vw solid #dfe1e6;
    padding: 0; 
    margin-right: 2vw;
    margin-left: 2vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
}

.main .user-block .elements-area .row {
    align-items: center;
    display: grid;
    grid-template-columns: 2vw 10vw 15vw 25vw 5vw;
    height: 2vw;
}
.main .user-block .elements-area .row:hover {
    background-color: rgb(247, 245, 245);
}

.main .user-block .elements-area .row .name {
    grid-column: 2 / 3;
}
.main .user-block .elements-area .row .email {
    grid-column: 3 / 4;
}
.main .user-block .elements-area .row .for-edit {
    grid-column: 5 / 6;
    font-weight: bold;
    color: rgb(66, 66, 66);
    font-size: 2vw;
    line-height: 0;
    text-align: center;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    height: 1vw;
}
.main .user-block .elements-area .row .for-edit:hover {
    background-color: #ccc;
    border-radius: 0.3vw;
}
