<div class="image-wrapper">
  <img class="image" src="assets/images/gate1.jpg" alt="gate">
  </div>

    <form class="register-form content" [formGroup]="myForm" (ngSubmit)="register(myForm)">
      <h2 class="register-heading">Register</h2>
      <div class="input-area">

        <div class="input-area-username">
          <div class="error-msg"
            *ngIf="myForm.get('username')?.invalid && (myForm.get('username')?.dirty || myForm.get('username')?.touched)">
            The contact name is to short
          </div>
          <label class="label-username">Name</label>
          <input type="text" formControlName="username" class="input-username" required autofocus>
          <br />
        </div>

        <div class="input-area-email">
          <div class="error-msg"
            *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
            The email is not valid
          </div>
          <label class="label-email">Email address</label>
          <input type="email" formControlName="email" class="input-email" required autofocus>
          <br />
        </div>

        <div class="input-area-password">
          <div class="error-msg"
            *ngIf="myForm.get('password')?.invalid && (myForm.get('password')?.dirty || myForm.get('password')?.touched)">
            The password is to short
          </div>
          <label class="label-password">Password</label>
          <input type="password" formControlName="password" class="input-password" required autofocus>
        </div>

        <div class="input-area-confirmPassword">

          <div class="error-msg"
            *ngIf="myForm.controls.confirmPassword.errors?.mustMatch && (myForm.get('confirmPassword')?.dirty || myForm.get('confirmPassword')?.touched)">
            Passwords must match
          </div>
          <label  class="label-password">Password</label>
          <input type="password" formControlName="confirmPassword" class="input-password" required autofocus>
        </div>

        <div class="input-area-submit">
          <button class="submit" type="submit" [disabled]="myForm.invalid">Sign in</button>
        </div>

        <div class="error-area">
          <ul *ngFor="let f of errors;">
            <li> {{f}}</li>
          </ul>
        </div>
      </div>

    </form>
