 
 .project-block {
    padding: 1vw 15vw;
 }
 .project-block .title-area{
    align-items: center;
    display: grid;
    grid-template-columns: 2vw 20vw 35vw 8vw 2vw;
    height: 2vw;
    margin-bottom: 2vw;
 }
 .project-block .title-area .name{
    grid-column: 2 / 3;
 }
 .project-block .title-area .create{
     background-color: #0052CC;
     color:white;
    grid-column: 4 / 5;
    text-align: center;
    line-height: 0;
    border-radius: 0.3vw;
 }

 .project-block .title-area .create:hover {
    background-color:  #0065FF;
    border-radius: 0.3vw;
}

 .project-block .title-sort-area
 {
    align-items: center;
    display: grid;
    grid-template-columns: 2vw 20vw 15vw 10vw 5vw 5vw;
    height: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
 }
 .project-block .title-sort-area .name {
     
    grid-column: 2 / 3;
}
.project-block .title-sort-area .lead {
    grid-column: 3 / 4;
}
.project-block .title-sort-area .readiness {
    grid-column: 4 / 5;
}

 .project-block .elements-area {
    border-bottom: 0.2vw solid #dfe1e6;
    border-top: 0.2vw solid #dfe1e6;
    padding: 0; 
    margin-right: 2vw;
    margin-left: 2vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    
}

 .project-block .elements-area .row {
    align-items: center;
    display: grid;
    grid-template-columns: 2vw 20vw 15vw 10vw 5vw 5vw;
    height: 2vw;
}
 .project-block .elements-area .row:hover {
    background-color: rgb(247, 245, 245);
}

 .project-block .elements-area .row .name {
    color: #0052CF;
    grid-column: 2 / 3;
}
 .project-block .elements-area .row .lead {
    grid-column: 3 / 4;
}
.project-block .elements-area .row .readiness {
    grid-column: 4 / 5;
}
 .project-block .elements-area .row .for-edit {
    grid-column: 6 / 7;
    font-weight: bold;
    color: rgb(66, 66, 66);
    font-size: 2vw;
    line-height: 0;
    text-align: center;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    height: 1vw;
}
 .project-block .elements-area .row .for-edit:hover {
    background-color: #ccc;
    border-radius: 0.3vw;
}