.image-wrapper {
    height: 35vw;
    text-align: center;
}

.image-wrapper .image {
    height: 100%;
    padding-left: 1vw;
}

.content {
    position: relative;
    z-index: 1;
    padding: 10px;
    top: -65%;
}

.login-form {
    border: 0.1vw solid black;
    border-radius: 0.1vw;
    width: 38vw;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(181, 224, 241, 0.95);
}

.login-heading {
    margin-left: 4vw;
    line-height: 0;
}
.input-area {
    display: grid;
    grid-template-columns: 2vw 15vw 20vw;
    grid-template-rows: 3.5vw 3.5vw 3vw;
}

.input-area-username {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 5vw 9vw;
    grid-template-rows: 1.5vw 2vw;
    place-items: center;
    justify-items: start;
}
.input-area-username .label-username {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.input-area-username .input-username {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 8vw;
}

.input-area-password {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 5vw 9vw;
    grid-template-rows: 1.5vw 2vw;
    place-items: center;
    justify-items: start;
}

.input-area-password .label-password {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.input-area-password .input-password {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 8vw;
}

.error-msg {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    color: #de2b24;
}
.input-area-submit {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 5vw 9vw;
    place-items: center;
    justify-items: start;
}
.input-area-submit .submit {
    grid-row: 1 / 2;
}

.error-area {
    grid-column: 3 / 4;
    color: #de2b24;
}
