.image-wrapper {
    height: 30vw;
    text-align: center;
}
.image {
    height: 100%;
}
.content {
    position: relative;
    z-index: 1;
    padding: 10px;
    top: -75%;
    text-align: center;
}