.worklog-block {
    padding: 1vw 10vw;
}
.worklog-block .title-area {
    align-items: center;
    display: grid;
    grid-template-columns: 2vw 20vw;
    height: 1.2vw;
    margin-bottom: 0.2vw;
}
.worklog-block .title-area .navigation-area {
    grid-column: 2 / 3;
}
.worklog-block .title-area .navigation-area .projects {
    float: left;
}
.worklog-block .title-area .navigation-area .projects a:hover {
    color: #cc8500;
}
.worklog-block .title-area .navigation-area .project-name a:hover {
    color: #cc8500;
}

.worklog-block .body-area {
    display: grid;
    grid-template-columns: 40vw 25vw;
}

.worklog-block .body-area .left-area {
    grid-column: 1 / 2;
}
.worklog-block .body-area .right-area {
    grid-column: 2 / 3;
}

.worklog-block .body-area .left-area .logs-info {
    overflow-y: scroll;
    height: 20vw;
}

.worklog-block .body-area .left-area .logs-info .obj-description {
    background-color: aliceblue;
    margin-bottom: 1vw;
    padding-left: 1vw;
    width: 37vw;
}
.worklog-block .body-area .left-area .logs-info .obj-description .title {
    font-weight: 500;
    margin-bottom: 0.3vw;
    font-size: 1vw;
}

.worklog-block .body-area .left-area .logs-info .row {
    background-color: aliceblue;
    margin-left: 1vw;
    margin-top: 0.3vw;
    padding: 0.3vw 1vw;
    width: 35vw;
}

.worklog-block .body-area .left-area .logs-info .row .description {
    text-indent: 1vw;
}

.worklog-block .body-area .right-area {
    padding-left: 3vw;
    margin-top: 3vw;
    display: grid;
    grid-template-columns: 12vw 13vw;
    grid-template-rows: 4vw  4vw 4vw 4vw 4vw;
    /* align-self: start; */
}
.worklog-block .body-area .right-area .assigned-label{
    grid-column: 1 / 2;
    grid-row: 1/2;
}
.worklog-block .body-area .right-area .assigned-data{
    grid-column: 2 / 3;
    grid-row: 1/2;
}

.worklog-block .body-area .right-area .assigned-data .assign-developer-form .input-area-assigner .input-assigner{
    margin-left: 0.2vw;   
}


.worklog-block .body-area .right-area .assigned-data .assign-developer-form .input-area-submit{
    margin-top: 0.3vw; 
}

.worklog-block .body-area .right-area .current-status-label{
   
    grid-column: 1 / 2;
    grid-row: 4/5;
 }
 .worklog-block .body-area .right-area .current-status-data{
  
    grid-column: 2 / 3;
    grid-row: 4/5;
 }

 .worklog-block .body-area .right-area .new-status-label{
   
    grid-column: 1 / 2;
    grid-row: 5/6;
 }
 .worklog-block .body-area .right-area .status-form {
      grid-column: 2 / 3;
    grid-row: 5/6;
 }
 .worklog-block .body-area .right-area .status-form .submit{
     margin-top: 1vw;
 }