<div class="paganing">
    <span class="page" (click)="onClick(p)" *ngFor="let p of pages"
        [ngStyle]="p==pageInfo!.currentPage?{'background-color':'#353535','color': 'White'} : {'background-color': '#E9F1EF','color': 'Black'}">
        {{p}}
    </span>
</div>