.header {
    padding: 0.5vw;
    background: #147ca6;
    display: grid;
    grid-template-columns: 20vw 10vw 36vw 12vw 18vw;
    align-items: center;
    justify-items: center;
}
.header .img-logo {
    height: 4vw;
    grid-column: 1 / 2;
}
.header .img-logo > img {
    height: 100%;
    border-radius: 0.5vw;
}
.header p {
    color: #e4ebf2;
    font-size: 2.5vw;
    line-height: 0.5;
    font-weight: bold;
    grid-column: 3 / 4;
    margin: 0.5vw 0;
}

.header .admin-reference {
    grid-column: 4 / 5;
}

.header .admin-reference a:hover {
    color: black;
}

.header .admin-reference a {
    color: #e4ebf2;
}

.header .user-account {
    grid-column: 5 / 6;
}

.main {
    background-color: #ffffff;
    height: 35.3vw;
     overflow-y: scroll;
}

.content {
    background-color: #a72020;
    height: 14vw;
}
.footer {
    padding: 1vw;
    background: #147ca6;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    /* align-items: center; */
    /* justify-items: center; */
}

.footer .text {
    grid-column: 2 / 3;
    font-size: 1vw;
    color: #e4ebf2;
    margin: 0.2vw 0;
    text-align: center;
}

