<header class="header">
    <div class="img-logo">
        <img src="assets/images/task_tracker_logo.jpg" alt="locomotive image">
    </div>
    <p>Task Tracking</p>
    <!-- <div class= "admin-reference" *ngIf="IsAdmin()">
         <a (click)="GoToAdminArea()">for Administrator</a>
    </div> -->
     <div class="user-account">
     <authentication></authentication> 
  </div>
   </header>
  <div class="main">
      <router-outlet ></router-outlet>   
    
  </div>
  
  <footer class="footer">
    <p class="text">Alex Pavol, cheshire@gmail.com &copy; 2021 All Right Reserved</p>
    <a class="text" href="https://www.vecteezy.com/free-vector/silhouette">Silhouette Vectors by Vecteezy</a>
  </footer>
